@charset "UTF-8";
/*RESET - ╤Б╨▒╤А╨╛╤Б ╤Б╤В╨╕╨╗╨╡╨╣*/
/* line 1, ../scss/_reset.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../scss/_reset.scss */
table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

/* line 1, ../scss/_reset.scss */
img {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
embed {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
input[type=text], textarea {
  outline: none;
  border-radius: 0;
}

/*DEFAULT STYLES - ╨│╨╗╨╛╨▒╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕*/
/* line 1, ../scss/_default.scss */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block;
}

/* line 1, ../scss/_default.scss */
mark, rp, rt, ruby, summary, time {
  display: inline;
}

/* Global properties ======================================================== */
/* line 3, ../scss/_default.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/_default.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  line-height: 1.23;
  color: #000;
  height: 100%;
  min-width: 300px;
  background-color: #000;
  -webkit-text-size-adjust: none;
}

/* line 16, ../scss/_default.scss */
.container {
  width: 1006px;
  margin: 0 auto;
  max-width: 100%;
}

/* line 22, ../scss/_default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../scss/_default.scss */
button,
input,
select,
textarea {
  font-family: 'PT Sans', sans-serif;
  outline: none;
}

/* line 36, ../scss/_default.scss */
button {
  cursor: pointer;
}

/* line 40, ../scss/_default.scss */
.page_wrap {
  min-height: 100%;
  margin-bottom: -160px;
  background-color: #d2d3d5;
}

/*----------------------> Links And buttons <------------------*/
/* line 47, ../scss/_default.scss */
.link {
  text-decoration: underline;
}

/* line 51, ../scss/_default.scss */
a {
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

/* line 57, ../scss/_default.scss */
a:hover {
  color: #ed1b2e;
  text-decoration: none;
}

/* line 62, ../scss/_default.scss */
.btn,
.button {
  display: inline-block;
  padding: 0 20px;
  min-width: 200px;
  margin: 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ed1c2e;
  border: none;
}

/* line 78, ../scss/_default.scss */
.btn:hover,
button:hover {
  background-color: #eb4e5c;
  color: #fff;
}

/* line 85, ../scss/_default.scss */
.btn2 {
  display: inline-block;
  padding: 0 20px;
  margin: 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ed1c2e;
  border: none;
}

/* line 100, ../scss/_default.scss */
.black-skin {
  background-color: #000;
  color: #fff;
}

/*----------------------> Basic Classes <------------------*/
/* line 106, ../scss/_default.scss */
.reg {
  text-transform: uppercase;
}

/* line 107, ../scss/_default.scss */
.f_left {
  float: left;
}

/* line 108, ../scss/_default.scss */
.f_right {
  float: right;
}

/* line 109, ../scss/_default.scss */
.al_left {
  text-align: left;
}

/* line 110, ../scss/_default.scss */
.al_right {
  text-align: right;
}

/* line 111, ../scss/_default.scss */
.al_center {
  text-align: center;
}

/* line 113, ../scss/_default.scss */
.it {
  font-style: italic;
}

/* line 114, ../scss/_default.scss */
.let {
  letter-spacing: -1px;
}

/* line 116, ../scss/_default.scss */
.full_w {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 123, ../scss/_default.scss */
.val_mid {
  vertical-align: middle;
}

/*----------------------> Indents Zero <------------------*/
/* line 126, ../scss/_default.scss */
.m_b_zero {
  margin-bottom: 0 !important;
}

/* line 127, ../scss/_default.scss */
.m_l_zero {
  margin-left: 0 !important;
}

/* line 128, ../scss/_default.scss */
.p_b_zero {
  padding-bottom: 0 !important;
}

/* line 129, ../scss/_default.scss */
.p_l_zero {
  padding-left: 0 !important;
}

/*----------------------> Positions <------------------*/
/* line 132, ../scss/_default.scss */
.p_abs {
  position: absolute;
}

/* line 133, ../scss/_default.scss */
.p_rel {
  position: relative;
}

/* line 134, ../scss/_default.scss */
.p_fix {
  position: fixed;
}

/* line 135, ../scss/_default.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* line 136, ../scss/_default.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 143, ../scss/_default.scss */
.wrapper {
  overflow: hidden;
}

/* line 144, ../scss/_default.scss */
.f_elem > *:first-child {
  margin-top: 0 !important;
}

/* line 145, ../scss/_default.scss */
.f_elem1 > *:first-child {
  margin-top: 0 !important;
  border: none !important;
}

/* line 147, ../scss/_default.scss */
.bg_none {
  background: none !important;
}

/*----------------------> Displays <------------------*/
/* line 151, ../scss/_default.scss */
.d_block {
  display: block;
}

/* line 152, ../scss/_default.scss */
.d_ib {
  display: inline-block;
}

/* line 153, ../scss/_default.scss */
.d_none {
  display: none;
}

/* line 154, ../scss/_default.scss */
.d_tc {
  display: table-cell;
}

/* line 155, ../scss/_default.scss */
.d_t {
  display: table;
}

/*----------------------> Basic Colors <------------------*/
/* line 160, ../scss/_default.scss */
.accent-color {
  color: #ed1b2e;
}

/* line 164, ../scss/_default.scss */
.grey-color {
  color: #636259;
}

/*======================> Header <======================*/
/* line 170, ../scss/_default.scss */
header {
  background-color: #fff;
  padding: 19px 0;
}

/* line 174, ../scss/_default.scss */
.logo {
  max-width: 180px;
}

/* line 177, ../scss/_default.scss */
.logo a {
  display: inline-block;
}

/* line 181, ../scss/_default.scss */
.logo img {
  max-width: 100%;
  height: auto;
}

/* line 186, ../scss/_default.scss */
nav {
  color: #9c9d9d;
  padding: 7px 15px 0 135px;
}

/* line 195, ../scss/_default.scss */
.menu__item {
  display: inline-block;
  margin-right: 30px;
}

/* line 200, ../scss/_default.scss */
nav a {
  color: #000;
  text-transform: uppercase;
}

/* line 204, ../scss/_default.scss */
nav a:hover,
nav .current a {
  color: #ed1b2e;
}

/*=====================> Content ========================*/
/* #content {min-height: 1500px;} */
/* line 212, ../scss/_default.scss */
.cont_pad {
  padding: 0 0 0 0 !important;
}

/* line 215, ../scss/_default.scss */
.content {
  padding: 20px 0 200px;
}

/* line 219, ../scss/_default.scss */
.content__inner {
  padding-left: 90px;
  padding-right: 90px;
}

/* line 225, ../scss/_default.scss */
.content__inner--2 {
  padding-left: 200px;
  padding-right: 200px;
}

/* ---------------
  Home page
------------------- */
/* line 234, ../scss/_default.scss */
.home-content {
  min-height: 68%;
  width: 100%;
  background-color: #d1d3d4;
}

/* line 240, ../scss/_default.scss */
.home-content__left {
  text-align: right;
  width: 43.7%;
  padding-right: 70px;
  vertical-align: middle;
}

/* line 247, ../scss/_default.scss */
.home-product__item {
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

/* line 253, ../scss/_default.scss */
.home-product__item figcaption {
  padding-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

/* line 259, ../scss/_default.scss */
.home-content__right {
  background: url(../images/home-bg.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 56.3%;
  padding: 5%;
}

/* line 268, ../scss/_default.scss */
.promocode-input {
  border: 2px solid #d1d3d4;
  background-color: #ffffff;
  width: 230px;
  height: 44px;
  border-radius: 40px !important;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  padding: 0 65px 0 24px;
}

/* line 281, ../scss/_default.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

/* line 284, ../scss/_default.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

/* line 287, ../scss/_default.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

/* line 290, ../scss/_default.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

/* line 294, ../scss/_default.scss */
.promocode-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #ed1c2e url(../images/sbm-btn-icon.png) 50% 50% no-repeat;
  background-size: 50% auto;
  display: block;
  top: 50%;
  margin-top: -28px;
  right: 0;
  position: absolute;
}

/* line 309, ../scss/_default.scss */
.promocode-btn:hover {
  background-color: #eb4e5c;
}

/* line 314, ../scss/_default.scss */
.home-steps {
  background-color: #fff;
  padding: 20px 0;
}

/* line 319, ../scss/_default.scss */
.home-step__item {
  letter-spacing: -.5px;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-right: 30px;
}

/* line 329, ../scss/_default.scss */
.home-step__item__img {
  float: left;
}

/* line 333, ../scss/_default.scss */
.home-step__item figcaption {
  overflow: hidden;
  text-align: left;
  padding: 10px 0 0;
}

/* line 340, ../scss/_default.scss */
.home-steps-wrap .home-step__item:first-child ~ .home-step__item {
  padding-left: 55px;
}

/* line 344, ../scss/_default.scss */
.home-steps-wrap .home-step__item:first-child ~ .home-step__item::before {
  background: url(../images/home-step-arrow.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 27px;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}

/* ---------------
  Prizes page
------------------- */
/* line 365, ../scss/_default.scss */
.prize__item {
  width: 50%;
  float: left;
  text-align: center;
}

/* line 371, ../scss/_default.scss */
.prize__item__img {
  line-height: 227px;
  vertical-align: middle;
}

/* line 376, ../scss/_default.scss */
.prize__item__img img {
  vertical-align: middle;
}

/* line 381, ../scss/_default.scss */
.additional-section {
  background-color: #fff;
  padding: 20px 0;
}

/* line 386, ../scss/_default.scss */
input.promo-form__input {
  width: 195px;
  height: 38px;
  border-radius: 7px;
  border: 1px solid #7e7e7e;
  background-color: rgba(255, 165, 0, 0);
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  color: #000;
  font-size: 14px;
}

/* line 399, ../scss/_default.scss */
.promo-form__btn {
  width: 198px;
  margin-left: 20px;
}

/* ---------------
  Winners page
------------------- */
/* line 408, ../scss/_default.scss */
.winners {
  /* padding: 0 140px 0 90px; */
}

/* line 412, ../scss/_default.scss */
.winners-list dt {
  color: #ed1b2d;
  font-size: 24px;
}

/* line 417, ../scss/_default.scss */
.winners-list dd {
  font-size: 14px;
  margin-bottom: 4px;
}

/* ---------------
  Faq page
------------------- */
/* line 426, ../scss/_default.scss */
.faq-list dt {
  cursor: pointer;
  color: #ed1b2d;
  font-size: 34px;
  text-decoration: underline;
  margin-top: 10px;
}

/* line 434, ../scss/_default.scss */
.faq-list dd {
  padding-top: 14px;
  display: none;
}

/* ---------------
  Personal page
------------------- */
/* line 443, ../scss/_default.scss */
.user-prizes-list span {
  display: inline-block;
  margin: 0 20px;
}

/* line 448, ../scss/_default.scss */
.user-prizes-list li {
  margin-bottom: 20px;
}

/* ---------------
  Personal page
------------------- */
/* line 457, ../scss/_default.scss */
.products-wrap {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 461, ../scss/_default.scss */
.product-item {
  width: calc(33.3% - 30px);
  margin: 0 15px;
  float: left;
  padding: 0 10px 0 0;
}

/* line 468, ../scss/_default.scss */
.product-item__img {
  margin-right: 20px;
  padding-top: 20px;
}

/* ---------------
  Search result page
------------------- */
/* line 476, ../scss/_default.scss */
.search-result__list {
  max-height: 345px;
  overflow: auto;
}
/* line 481, ../scss/_default.scss */
.search-result__list-wrap {
  width: 40%;
  float: left;
}
/* line 486, ../scss/_default.scss */
.search-result__list li {
  margin-bottom: 30px;
}

/* line 491, ../scss/_default.scss */
.search-result__map-wrap {
  padding-left: 20px;
}

/* line 495, ../scss/_default.scss */
.map_search_form {
  width: 486px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 506, ../scss/_default.scss */
.map_search_form .form__input {
  border: none;
}
/* line 509, ../scss/_default.scss */
.map_search_form .form__input input {
  background: #fff url(../images/select-arrow.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 14px 12px;
  background-size: 14px 12px;
  border-radius: 3px;
  border: none;
}

/* line 519, ../scss/_default.scss */
.map_search_list {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  max-height: 200px;
  overflow: auto;
  font-size: 14px;
  text-transform: uppercase;
  margin: 3px 0 0;
  padding: 10px 0;
}
/* line 530, ../scss/_default.scss */
.map_search_list li {
  padding: 7px 15px;
  cursor: pointer;
}
/* line 534, ../scss/_default.scss */
.map_search_list li:hover, .map_search_list li.active {
  background-color: #ed1c2e;
  color: #fff;
}

/* ---------------
  Catalog page
------------------- */
/* line 547, ../scss/_default.scss */
.catalog {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 552, ../scss/_default.scss */
.catalog__item {
  width: calc(33.3% - 40px);
  margin: 0 20px;
  float: left;
  text-align: center;
}
/* line 558, ../scss/_default.scss */
.catalog__item__title {
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
/* line 565, ../scss/_default.scss */
.catalog__item__imgs {
  position: relative;
  min-height: 180px;
  margin: 0 40px;
}
/* line 571, ../scss/_default.scss */
.catalog__item__features {
  margin-bottom: 17px;
}
/* line 575, ../scss/_default.scss */
.catalog__item__content {
  padding: 0 40px;
}

/* line 581, ../scss/_default.scss */
.owl-buttons div {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  width: 21px;
  height: 35px;
  cursor: pointer;
}
/* line 590, ../scss/_default.scss */
.owl-buttons .owl-prev {
  background: url(../images/navigation-prev.png) 50% 0 no-repeat;
  background-size: cover;
  left: 0px;
}
/* line 595, ../scss/_default.scss */
.owl-buttons .owl-next {
  background: url(../images/navigation-next.png) 50% 0 no-repeat;
  background-size: cover;
  right: 0px;
}

/* line 604, ../scss/_default.scss */
.catalog-list__item {
  margin-bottom: 20px;
}
/* line 607, ../scss/_default.scss */
.catalog-list__item-title {
  margin-bottom: 2px;
  position: relative;
}
/* line 611, ../scss/_default.scss */
.catalog-list__item-title::before {
  background: url(../images/title-arrow.png) 0 0 no-repeat;
  background-size: cover;
  width: 11px;
  height: 18px;
  position: absolute;
  display: block;
  top: 12px;
  left: -25px;
  content: "";
}
/* line 626, ../scss/_default.scss */
.catalog-list__content {
  position: relative;
  padding: 15px 0 0 50px;
}

/*=====================> Paragraphs ========================*/
/* line 633, ../scss/_default.scss */
p {
  margin-bottom: 18px;
}

/* line 634, ../scss/_default.scss */
.mb1 {
  margin-bottom: 1px;
}

/* line 635, ../scss/_default.scss */
.mb2 {
  margin-bottom: 2px;
}

/* line 636, ../scss/_default.scss */
.mb3 {
  margin-bottom: 3px;
}

/* line 637, ../scss/_default.scss */
.mb4 {
  margin-bottom: 4px;
}

/* line 638, ../scss/_default.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 639, ../scss/_default.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 640, ../scss/_default.scss */
.mb7 {
  margin-bottom: 7px;
}

/* line 641, ../scss/_default.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 642, ../scss/_default.scss */
.mb9 {
  margin-bottom: 9px;
}

/* line 643, ../scss/_default.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 644, ../scss/_default.scss */
.mb11 {
  margin-bottom: 11px;
}

/* line 645, ../scss/_default.scss */
.mb12 {
  margin-bottom: 12px;
}

/* line 646, ../scss/_default.scss */
.mb13 {
  margin-bottom: 13px;
}

/* line 647, ../scss/_default.scss */
.mb14 {
  margin-bottom: 14px;
}

/* line 648, ../scss/_default.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 649, ../scss/_default.scss */
.mb16 {
  margin-bottom: 16px;
}

/* line 650, ../scss/_default.scss */
.mb17 {
  margin-bottom: 17px;
}

/* line 651, ../scss/_default.scss */
.mb18 {
  margin-bottom: 18px;
}

/* line 652, ../scss/_default.scss */
.mb19 {
  margin-bottom: 19px;
}

/* line 653, ../scss/_default.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 654, ../scss/_default.scss */
.mb21 {
  margin-bottom: 21px;
}

/* line 655, ../scss/_default.scss */
.mb22 {
  margin-bottom: 22px;
}

/* line 656, ../scss/_default.scss */
.mb23 {
  margin-bottom: 23px;
}

/* line 657, ../scss/_default.scss */
.mb24 {
  margin-bottom: 24px;
}

/* line 658, ../scss/_default.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 659, ../scss/_default.scss */
.mb26 {
  margin-bottom: 26px;
}

/* line 660, ../scss/_default.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 661, ../scss/_default.scss */
.mb28 {
  margin-bottom: 28px;
}

/* line 662, ../scss/_default.scss */
.mb29 {
  margin-bottom: 29px;
}

/* line 663, ../scss/_default.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 664, ../scss/_default.scss */
.mb31 {
  margin-bottom: 31px;
}

/* line 665, ../scss/_default.scss */
.mb32 {
  margin-bottom: 32px;
}

/* line 666, ../scss/_default.scss */
.mb33 {
  margin-bottom: 33px;
}

/* line 667, ../scss/_default.scss */
.mb34 {
  margin-bottom: 34px;
}

/* line 668, ../scss/_default.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 669, ../scss/_default.scss */
.mb36 {
  margin-bottom: 36px;
}

/* line 670, ../scss/_default.scss */
.mb37 {
  margin-bottom: 37px;
}

/* line 671, ../scss/_default.scss */
.mb38 {
  margin-bottom: 38px;
}

/* line 672, ../scss/_default.scss */
.mb39 {
  margin-bottom: 39px;
}

/* line 673, ../scss/_default.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 674, ../scss/_default.scss */
.mb41 {
  margin-bottom: 41px;
}

/* line 675, ../scss/_default.scss */
.mb42 {
  margin-bottom: 42px;
}

/* line 676, ../scss/_default.scss */
.mb43 {
  margin-bottom: 43px;
}

/* line 677, ../scss/_default.scss */
.mb44 {
  margin-bottom: 44px;
}

/* line 678, ../scss/_default.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 679, ../scss/_default.scss */
.mb46 {
  margin-bottom: 46px;
}

/* line 680, ../scss/_default.scss */
.mb47 {
  margin-bottom: 47px;
}

/* line 681, ../scss/_default.scss */
.mb48 {
  margin-bottom: 48px;
}

/* line 682, ../scss/_default.scss */
.mb49 {
  margin-bottom: 49px;
}

/* line 683, ../scss/_default.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 684, ../scss/_default.scss */
.mb51 {
  margin-bottom: 51px;
}

/* line 685, ../scss/_default.scss */
.mb52 {
  margin-bottom: 52px;
}

/* line 686, ../scss/_default.scss */
.mb53 {
  margin-bottom: 53px;
}

/* line 687, ../scss/_default.scss */
.mb54 {
  margin-bottom: 54px;
}

/* line 688, ../scss/_default.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 689, ../scss/_default.scss */
.mb58 {
  margin-bottom: 58px;
}

/* line 690, ../scss/_default.scss */
.mb62 {
  margin-bottom: 62px;
}

/* line 691, ../scss/_default.scss */
.mb72 {
  margin-bottom: 72px;
}

/* line 692, ../scss/_default.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 693, ../scss/_default.scss */
.mb80 {
  margin-bottom: 80px;
}

/*=====================> Lists ========================*/
/* line 697, ../scss/_default.scss */
.list1 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/* line 704, ../scss/_default.scss */
.list2 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/* line 711, ../scss/_default.scss */
.list3 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/*=====================> Titles ========================*/
/* line 718, ../scss/_default.scss */
h2, h3, h4 {
  font-weight: normal;
}

/* line 721, ../scss/_default.scss */
.title1 {
  font-size: 48px;
  line-height: 1.15;
  font-weight: normal;
}

/* line 727, ../scss/_default.scss */
.title2 {
  font-size: 34px;
  line-height: 1.23;
}

/* line 732, ../scss/_default.scss */
.title3 {
  font-size: 24px;
  line-height: 1.23;
}

/* line 737, ../scss/_default.scss */
.title4 {
  font-size: 18px;
  line-height: 1.23;
}

/* line 742, ../scss/_default.scss */
.title5 {
  font-size: 16px;
  line-height: 1.23;
}

/*================================>> FONTS  <<========================================*/
/* line 749, ../scss/_default.scss */
.bold {
  font-weight: bold;
}

/* line 753, ../scss/_default.scss */
.regular {
  font-weight: normal;
}

/* line 757, ../scss/_default.scss */
.font-16 {
  font-size: 16px;
}

/*================================>> hovers <<========================================*/
/* line 763, ../scss/_default.scss */
a,
button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 770, ../scss/_default.scss */
a:hover,
button:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*================================>> Form Elements <<========================================*/
/* line 782, ../scss/_default.scss */
select {
  /* Style for "Shape 1" */
  width: 230px;
  height: 38px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #7e7e7e;
  background: #fff url(../images/select-arrow.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 14px 12px;
  background-size: 14px 12px;
  padding: 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* line 798, ../scss/_default.scss */
select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

/* line 802, ../scss/_default.scss */
.form__select select {
  text-transform: uppercase;
  border-color: #7f7f7f;
  width: 100%;
}

/* line 808, ../scss/_default.scss */
.form__row {
  margin-bottom: 20px;
}

/* line 833, ../scss/_default.scss */
.form__input input,
.form__textarea textarea {
  text-transform: uppercase;
}

/* line 843, ../scss/_default.scss */
.form__cols-wrap {
  margin-left: -8px;
  margin-right: -8px;
}

/* line 848, ../scss/_default.scss */
.form__col {
  width: calc(50% - 16px);
  margin: 0 8px;
  float: left;
}

/* line 854, ../scss/_default.scss */
.msg_field {
  overflow: auto;
  width: 433px;
  height: 172px;
  resize: none;
  float: left;
  margin: 0 0 0 0;
}

/* line 863, ../scss/_default.scss */
#contact-form .error, #contact-form .empty, #contact-form .success {
  display: none;
}

/* line 864, ../scss/_default.scss */
#contact-form .error, #contact-form .empty {
  text-align: left;
  color: red;
  font-size: 11px;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* line 872, ../scss/_default.scss */
#contact-form .buttons2 {
  overflow: hidden;
  text-align: right;
  position: relative;
  clear: both;
  padding-top: 25px;
}

/* line 879, ../scss/_default.scss */
#contact-form .buttons2 a {
  cursor: pointer;
  margin-top: 0;
  text-align: center;
}

/* line 884, ../scss/_default.scss */
#contact-form span {
  display: block;
  margin: 0px 0 0 5px;
}

/* line 889, ../scss/_default.scss */
.map_wrapper {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 26px;
}

/*================================>> Contacts Info <<========================================*/
/* line 897, ../scss/_default.scss */
#map_canvas {
  width: 411px;
  height: 237px;
}

/* line 902, ../scss/_default.scss */
.adress span {
  display: inline-block;
}

/* line 905, ../scss/_default.scss */
.adress dt {
  margin-bottom: 14px;
}

/*================================>> Footer <<========================================*/
/* line 908, ../scss/_default.scss */
footer {
  padding: 22px 0 26px;
  background-color: #000;
  color: #9c9d9d;
}

/* line 914, ../scss/_default.scss */
footer a:hover {
  color: #fff;
}

/* line 918, ../scss/_default.scss */
.footer-inner {
  width: 100%;
  vertical-align: middle;
}

/* line 923, ../scss/_default.scss */
.footer-nav__list li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
}

/* line 929, ../scss/_default.scss */
.footer-nav__list a {
  color: #9c9d9d;
  text-transform: uppercase;
}

/* line 934, ../scss/_default.scss */
.footer-nav__list a:hover,
.footer-nav__list .current a {
  color: #ed1b2d;
}

/* line 940, ../scss/_default.scss */
.footer-copyright,
.footer-social {
  width: 30%;
}

/* line 945, ../scss/_default.scss */
.footer-nav {
  width: 40%;
}

/* line 949, ../scss/_default.scss */
.social-btn {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: 10px;
}

/* line 955, ../scss/_default.scss */
.social-btn img,
.content-img {
  max-width: 100%;
  height: auto;
}

/*============================= Easy responsive tabs ============================*/
/* line 968, ../scss/_default.scss */
h2.resp-accordion {
  display: none;
}

/* line 972, ../scss/_default.scss */
.resp-tab-content {
  display: none;
}

/* line 976, ../scss/_default.scss */
.resp-content-active, .resp-accordion-active {
  display: block;
}

/* line 980, ../scss/_default.scss */
.resp-easy-accordion h2.resp-accordion {
  display: block;
}

/* line 984, ../scss/_default.scss */
.resp-tab-content-active {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* line 990, ../scss/_default.scss */
  ul.resp-tabs-list {
    display: none;
  }

  /* line 994, ../scss/_default.scss */
  h2.resp-accordion {
    display: block;
  }

  /* line 999, ../scss/_default.scss */
  .resp-accordion-closed {
    display: none !important;
  }
}
/*============================ Arctic modal =============================*/
/* line 1007, ../scss/_default.scss */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* line 1009, ../scss/_default.scss */
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 1010, ../scss/_default.scss */
*:first-child + html .arcticmodal-container {
  height: 100%;
}

/* line 1011, ../scss/_default.scss */
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

/* line 1012, ../scss/_default.scss */
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

/* line 1013, ../scss/_default.scss */
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

/* line 1014, ../scss/_default.scss */
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url(loading.gif) no-repeat 50% 50%;
}

/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */
/* clearfix */
/* line 1024, ../scss/_default.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 1033, ../scss/_default.scss */
.owl-carousel {
  display: none;
  position: relative;
  -ms-touch-action: pan-y;
}

/* line 1039, ../scss/_default.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 1044, ../scss/_default.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 1049, ../scss/_default.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 1057, ../scss/_default.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 1060, ../scss/_default.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 1064, ../scss/_default.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 1074, ../scss/_default.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 1079, ../scss/_default.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*FORMS - ╤Д╨╛╤А╨╝╤Л*/
/* line 65, ../scss/_forms.scss */
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #c1c1c1;
}

/* line 72, ../scss/_forms.scss */
.form {
  margin: 20px 0 0;
}
/* line 75, ../scss/_forms.scss */
.form__label {
  display: block;
  color: inherit;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  font-weight: normal;
  margin: 0 0 0 0;
}
/* line 89, ../scss/_forms.scss */
.form__row {
  margin: 0 0 20px 0;
  position: relative;
}
/* line 94, ../scss/_forms.scss */
.form__input {
  background: #fff;
  height: 38px;
  position: relative;
  border: 1px solid #7f7f7f;
  box-shadow: none;
  border-radius: 5px;
  color: #000;
}
/* line 103, ../scss/_forms.scss */
.form__input input {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 38px;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  height: inherit;
  padding: 0 15px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
}
/* line 121, ../scss/_forms.scss */
.form__textarea {
  background: #fff;
  height: 152px;
  position: relative;
  border: 1px solid #7f7f7f;
  box-shadow: none;
  border-radius: 5px;
  color: #000;
}
/* line 130, ../scss/_forms.scss */
.form__textarea textarea {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  resize: none;
}
/* line 149, ../scss/_forms.scss */
.form__checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
/* line 154, ../scss/_forms.scss */
.form__checkbox:first-child {
  margin-left: 0;
}
/* line 158, ../scss/_forms.scss */
.form__checkbox input {
  box-shadow: none;
  width: 30px;
  height: 30px;
  border: 1px solid #7e7e7e;
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  border-radius: 5px;
}
/* line 171, ../scss/_forms.scss */
.form__checkbox input:checked {
  background: url(../images/checkbox-arrow.png) 50% 50% no-repeat;
  background-size: 15px auto;
  border: 1px solid #7e7e7e;
}
/* line 179, ../scss/_forms.scss */
.form__radio {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
/* line 184, ../scss/_forms.scss */
.form__radio:first-child {
  margin-left: 0;
}
/* line 188, ../scss/_forms.scss */
.form__radio input {
  display: none;
}
/* line 192, ../scss/_forms.scss */
.form__radio span.fake-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #7e7e7e;
}
/* line 202, ../scss/_forms.scss */
.form__radio span.fake-radio::before {
  box-shadow: none;
  display: none;
  border-radius: 15px;
  background: #ee142a;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 6px;
  left: 6px;
  content: "";
}
/* line 221, ../scss/_forms.scss */
.form__radio input:checked + span.fake-radio::before {
  display: block;
}
/* line 229, ../scss/_forms.scss */
.form__radio input:checked {
  background: #ed1b2e;
  border: 1px solid #7e7e7e;
}
/* line 279, ../scss/_forms.scss */
.form__elem--str {
  display: inline-block;
}
/* line 281, ../scss/_forms.scss */
.form__elem--str .form__label {
  display: inline-block;
}
/* line 287, ../scss/_forms.scss */
.form__alert {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  color: #999;
  display: none;
}
/* line 295, ../scss/_forms.scss */
.form__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  display: none;
}
/* line 304, ../scss/_forms.scss */
.form__control--error .form__error {
  display: block;
}
/* line 308, ../scss/_forms.scss */
.form__control--error .form__input {
  border-color: #f00;
}
/* line 312, ../scss/_forms.scss */
.form__control--error .form__textarea {
  border-color: #f00;
}
/* line 316, ../scss/_forms.scss */
.form__control--error .form__select select {
  border-color: #f00;
}
/* line 320, ../scss/_forms.scss */
.form__control--error .form__select:after {
  border-top-color: #f00;
}
/* line 326, ../scss/_forms.scss */
.form table {
  width: 100%;
}
/* line 330, ../scss/_forms.scss */
.form__description {
  font-size: 10px;
}

/* line 335, ../scss/_forms.scss */
.required {
  position: relative;
}
/* line 338, ../scss/_forms.scss */
.required::before {
  content: "*";
  position: absolute;
  left: -20px;
  font-size: 24px;
  line-height: 1;
  top: 50%;
  margin-top: -8px;
  color: #000;
}

/* line 350, ../scss/_forms.scss */
.radio__label,
.checkbox_label {
  font-size: 14px;
  color: #9c9d9d;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

/* line 360, ../scss/_forms.scss */
.checkbox__label,
.form__elem--str {
  display: inline-block;
  vertical-align: middle;
}

/* line 366, ../scss/_forms.scss */
.checkbox__label {
  margin-left: 5px;
}

/*TABS - ╤В╨░╨▒╤Л*/
/*MODALS - ╨╝╨╛╨┤╨░╨╗╤М╨╜╤Л╨╡ ╨╛╨║╨╜╨░*/
/* line 44, ../scss/_modals.scss */
.body-modal {
  overflow: hidden;
}

/* line 48, ../scss/_modals.scss */
.modal {
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  display: none;
  font-size: 12px;
  line-height: 1.23;
}
/* line 50, ../scss/_modals.scss */
.modals__fog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1000;
}
/* line 77, ../scss/_modals.scss */
.modal--auth .modal__body {
  width: 528px;
}
/* line 84, ../scss/_modals.scss */
.modal--modal--registration-thx .modal__body, .modal--modal--registration-congratulation .modal__body {
  width: 624px;
}
/* line 89, ../scss/_modals.scss */
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}
/* line 97, ../scss/_modals.scss */
.modal__body {
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 900px;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  text-align: center;
  border: none;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: none;
}
/* line 112, ../scss/_modals.scss */
.modal__header {
  padding: 4px;
  border-bottom: none;
}
/* line 117, ../scss/_modals.scss */
.modal__content {
  padding: 0;
}
/* line 120, ../scss/_modals.scss */
.modal__content__cols-wrap {
  margin-left: -45px;
  margin-right: -45px;
}
/* line 125, ../scss/_modals.scss */
.modal__content__col {
  width: calc(50% - 90px);
  float: left;
  margin-left: 45px;
  margin-right: 45px;
}
/* line 133, ../scss/_modals.scss */
.modal__footer {
  padding: 0;
  border-top: none;
  margin: 0;
}
/* line 139, ../scss/_modals.scss */
.modal__close {
  position: absolute;
  z-index: 1;
  right: 26px;
  top: 16px;
  background: url(../images/modal-close.png) 50% 50% no-repeat;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
}
/* line 150, ../scss/_modals.scss */
.modal__title {
  font-family: inherit;
  font-size: 34px;
  line-height: 1.23;
  text-align: center;
  font-weight: bold;
  color: #000;
  letter-spacing: -1px;
}
/* line 160, ../scss/_modals.scss */
.modal .form__label {
  display: none;
}
/* line 166, ../scss/_modals.scss */
.modal--registration .form {
  padding: 0 150px;
}
/* line 173, ../scss/_modals.scss */
.modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text {
  padding: 0 100px 20px;
  line-height: 24px;
}
/* line 178, ../scss/_modals.scss */
.modal--registration-thx .modal__subtitle, .modal--registration-congratulation .modal__subtitle {
  margin-bottom: 30px;
}
/* line 184, ../scss/_modals.scss */
.modal--auth .form {
  padding: 0 130px;
}
/* line 205, ../scss/_modals.scss */
.modal .form select option:disabled {
  color: #9c9d9d;
}
/* line 211, ../scss/_modals.scss */
.modal__comment {
  font-size: 14px;
}
/* line 215, ../scss/_modals.scss */
.modal__subtitle {
  margin-bottom: 2px;
}

/*SOCIAL - ╤Б╨╛╤Ж╨╕╨░╨╗╤М╨╜╤Л╨╡ ╨║╨╜╨╛╨┐╨║╨╕*/
/* line 1, ../scss/_social.scss */
.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 15px 0 20px;
}
/* line 7, ../scss/_social.scss */
.social__item {
  display: inline-block;
  margin: 0 19px;
  font-size: 14px;
  line-height: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  opacity: .9;
}
/* line 20, ../scss/_social.scss */
.social__item:hover {
  opacity: 1;
}
/* line 24, ../scss/_social.scss */
.social__item--vk {
  background: url(../images/vk-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}
/* line 28, ../scss/_social.scss */
.social__item--ok {
  background: url(../images/ok-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}
/* line 32, ../scss/_social.scss */
.social__item--fb {
  background: url(../images/fb-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1100px) {
  /* line 4, ../scss/_responsive.scss */
  .home-content__left {
    padding-right: 0px;
    text-align: center;
  }

  /* line 9, ../scss/_responsive.scss */
  .modal__body {
    max-width: calc(100% - 40px);
  }

  /* line 13, ../scss/_responsive.scss */
  .modal--registration .form {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 995px) {
  /* line 20, ../scss/_responsive.scss */
  .home-content,
  .home-content > *,
  .home-content__left > * {
    display: block;
    width: auto;
  }

  /* line 27, ../scss/_responsive.scss */
  .home-content__right {
    min-height: 500px;
  }

  /* line 31, ../scss/_responsive.scss */
  .home-content > * {
    padding: 50px;
  }

  /* line 35, ../scss/_responsive.scss */
  .home-products {
    overflow: hidden;
  }

  /* line 38, ../scss/_responsive.scss */
  .home-product__item {
    display: block;
    text-align: center;
    float: left;
    width: calc(33.3% - 10px);
  }

  /* line 45, ../scss/_responsive.scss */
  .home-step__item {
    font-size: 14px;
  }

  /* line 49, ../scss/_responsive.scss */
  .footer-nav__list li {
    margin: 0 5px;
  }

  /* line 53, ../scss/_responsive.scss */
  .container {
    padding: 0 20px;
  }

  /* line 57, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item:first-child ~ .home-step__item {
    padding-left: 45px;
  }

  /* line 61, ../scss/_responsive.scss */
  .home-step__item {
    padding-right: 20px;
    margin-bottom: 20px;
  }

  /* line 66, ../scss/_responsive.scss */
  .content__inner--2,
  .content__inner {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 72, ../scss/_responsive.scss */
  .content {
    padding-bottom: 40px;
  }

  /* line 76, ../scss/_responsive.scss */
  .page_wrap {
    min-height: 0;
    margin-bottom: 0;
  }

  /* line 81, ../scss/_responsive.scss */
  .faq-list dt {
    font-size: 24px;
  }

  /* line 86, ../scss/_responsive.scss */
  .products-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 90, ../scss/_responsive.scss */
  .product-item {
    width: auto;
    margin: 0 0 20px;
  }

  /* line 95, ../scss/_responsive.scss */
  .product-item__img {
    padding-top: 0;
  }

  /* line 99, ../scss/_responsive.scss */
  .catalog__item__imgs {
    margin: 0 20px;
  }

  /* line 104, ../scss/_responsive.scss */
  nav {
    padding-left: 20px;
  }

  /* line 108, ../scss/_responsive.scss */
  .header-auth-btns {
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 115, ../scss/_responsive.scss */
  body {
    padding-top: 64px;
  }

  /* line 119, ../scss/_responsive.scss */
  .title1 {
    font-size: 38px;
  }

  /* line 123, ../scss/_responsive.scss */
  .title2 {
    font-size: 24px;
  }

  /* line 127, ../scss/_responsive.scss */
  .home-content__right {
    min-height: 400px;
  }

  /* line 131, ../scss/_responsive.scss */
  .home-content > * {
    padding: 20px;
  }

  /* line 135, ../scss/_responsive.scss */
  .resp-toggle-btn {
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 14px;
    right: 20px;
    background-color: #ed1c2e;
    border-radius: 5px;
  }

  /* line 149, ../scss/_responsive.scss */
  .resp-toggle-btn span {
    display: block;
    position: absolute;
    height: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  /* line 162, ../scss/_responsive.scss */
  .resp-toggle-btn span.line1 {
    top: 11px;
  }

  /* line 166, ../scss/_responsive.scss */
  .resp-toggle-btn span.line2 {
    top: 19px;
  }

  /* line 170, ../scss/_responsive.scss */
  .menu > .hasUl > a::after {
    right: 22px;
  }

  /* line 174, ../scss/_responsive.scss */
  .resp-toggle-btn span.line3 {
    top: 27px;
  }

  /* line 178, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span {
    left: 6px;
    right: 6px;
  }

  /* line 183, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line1 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px;
  }

  /* line 192, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line2 {
    opacity: 0;
  }

  /* line 196, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line3 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
  }

  /* line 205, ../scss/_responsive.scss */
  nav {
    position: fixed;
    left: 100%;
    top: 64px;
    width: 280px;
    height: 100%;
    z-index: 999;
    padding: 0;
    overflow: auto;
    background-color: #231f20;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  /* line 401, ../sass/_header.scss */
  /* line 223, ../scss/_responsive.scss */
  .navTrue nav {
    left: calc(100% - 280px);
  }

  /* line 405, ../sass/_header.scss */
  /* line 228, ../scss/_responsive.scss */
  nav li,
  nav li.menu__item {
    float: none;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  /* line 412, ../sass/_header.scss */
  /* line 239, ../scss/_responsive.scss */
  nav .menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
  }

  /* line 417, ../sass/_header.scss */
  /* line 247, ../scss/_responsive.scss */
  .nav_overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    color: #fff;
    background-color: #000;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  /* line 434, ../sass/_header.scss */
  /* line 266, ../scss/_responsive.scss */
  .navTrue .nav_overlay {
    opacity: .7;
    visibility: visible;
  }

  /* line 271, ../scss/_responsive.scss */
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  /* line 280, ../scss/_responsive.scss */
  .social-btn {
    margin-left: 5px;
  }

  /* line 284, ../scss/_responsive.scss */
  .modal__content__col {
    float: none;
    width: auto;
    margin: 0;
  }

  /* line 290, ../scss/_responsive.scss */
  .modal__content__cols-wrap {
    margin: 0;
  }

  /* line 294, ../scss/_responsive.scss */
  .modal--registration .form,
  .modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text,
  .modal--auth .form {
    padding: 0 30px;
  }

  /* line 301, ../scss/_responsive.scss */
  .catalog__item,
  .search-result__list-wrap {
    float: none;
    width: auto;
    margin-bottom: 40px;
  }

  /* line 308, ../scss/_responsive.scss */
  .search-result__map-wrap {
    padding-left: 0;
  }

  /* line 313, ../scss/_responsive.scss */
  .menu,
  .header-auth-btns {
    float: none;
  }

  /* line 318, ../scss/_responsive.scss */
  .header-auth-btns {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* line 324, ../scss/_responsive.scss */
  .header-auth-btns a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: underline;
    color: #fff;
  }

  /* line 332, ../scss/_responsive.scss */
  .map_search_form {
    padding-top: 20px;
    width: auto;
    position: static;
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    -ms-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px);
  }
}
@media only screen and (max-width: 600px) {
  /* line 345, ../scss/_responsive.scss */
  .footer-inner,
  .footer-inner > * {
    display: block;
    width: auto;
    text-align: center;
  }

  /* line 352, ../scss/_responsive.scss */
  .footer-inner > * {
    margin-top: 10px;
  }

  /* line 356, ../scss/_responsive.scss */
  .winner__col {
    float: none;
    margin-bottom: 30px;
  }
  /* line 360, ../scss/_responsive.scss */
  .winner__col .title2 {
    margin-bottom: 15px;
  }

  /* line 365, ../scss/_responsive.scss */
  .prize__item {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }

  /* line 371, ../scss/_responsive.scss */
  .prize__item__img {
    line-height: 1;
  }

  /* line 376, ../scss/_responsive.scss */
  .catalog-list__item-img {
    float: none;
    width: 100%;
  }
  /* line 380, ../scss/_responsive.scss */
  .catalog-list__item-img img {
    width: 100%;
    height: auto;
  }

  /* line 386, ../scss/_responsive.scss */
  .catalog-list__content {
    padding-left: 27px;
  }

  /* line 390, ../scss/_responsive.scss */
  .catalog-list__item {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 396, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item {
    float: none;
    width: auto;
    display: block;
    padding-left: 0 !important;
  }

  /* line 403, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item::before {
    display: none;
  }

  /* line 407, ../scss/_responsive.scss */
  .home-step__item__img {
    min-width: 80px;
    text-align: center;
  }

  /* line 413, ../scss/_responsive.scss */
  .home-product__item {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }

  /* line 419, ../scss/_responsive.scss */
  .home-products .home-product__item:last-child {
    margin-bottom: 0;
  }

  /* line 423, ../scss/_responsive.scss */
  .title1,
  .modal__title {
    font-size: 30px;
  }

  /* line 428, ../scss/_responsive.scss */
  .title3,
  .catalog__item__title {
    font-size: 20px;
  }

  /* line 434, ../scss/_responsive.scss */
  .faq-list dt {
    font-size: 18px;
  }

  /* line 438, ../scss/_responsive.scss */
  .promo-form {
    margin-bottom: -15px;
  }

  /* line 441, ../scss/_responsive.scss */
  .promo-form > * {
    margin: 0 10px 15px;
  }

  /* line 445, ../scss/_responsive.scss */
  .form__cols-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 450, ../scss/_responsive.scss */
  .form__col {
    float: none;
    width: auto;
    margin: 0;
  }

  /* line 456, ../scss/_responsive.scss */
  .home-content__right {
    background-position: 100% 0;
  }

  /* line 460, ../scss/_responsive.scss */
  .modal--registration .form, .modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text {
    padding: 0 10px;
  }

  /* line 464, ../scss/_responsive.scss */
  .social__item {
    margin: 0 10px;
  }

  /* line 468, ../scss/_responsive.scss */
  .modal__close {
    right: 10px;
    top: 10px;
  }

  /* line 473, ../scss/_responsive.scss */
  .form__radio {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
  }

  /* line 479, ../scss/_responsive.scss */
  .form__elem--str > .radio__label {
    margin-bottom: 20px;
  }

  /* line 483, ../scss/_responsive.scss */
  .form__elem {
    overflow: hidden;
  }

  /* line 487, ../scss/_responsive.scss */
  .form__checkbox {
    float: left;
  }

  /* line 491, ../scss/_responsive.scss */
  .checkbox__label {
    overflow: hidden;
    display: block;
    text-align: left;
    padding-left: 10px;
  }

  /* line 498, ../scss/_responsive.scss */
  nav {
    width: 100%;
    left: 100%;
  }

  /* line 503, ../scss/_responsive.scss */
  .navTrue nav {
    left: 0;
  }

  /* line 507, ../scss/_responsive.scss */
  .map_search_form .form__input input {
    font-size: 12px;
  }
}
