article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%; height: 100%;}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  line-height: 1.23;
  color:#000;
  height: 100%;
  min-width:300px;
  background-color: #000;
  -webkit-text-size-adjust: none;
}

.container{
  width: 1006px;
  margin: 0 auto;
  max-width: 100%;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
select,
textarea{
  font-family: 'PT Sans', sans-serif;
  outline: none;
}

button{
  cursor: pointer;
}

.page_wrap{
  min-height: 100%;
  margin-bottom: -160px;
  background-color: #d2d3d5;
}

/*----------------------> Links And buttons <------------------*/
.link{
  text-decoration: underline;
}

a {
  color:#000;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#ed1b2e;
  text-decoration:none;
}

.btn,
.button{
  display:inline-block;
  padding: 0 20px;
  min-width: 200px;
  margin: 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  color:#fff;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ed1c2e;
  border: none;
}
.btn:hover,
button:hover{
  background-color: #eb4e5c;
  color: #fff;
}


.btn2{
  display:inline-block;
  padding: 0 20px;
  margin: 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color:#fff;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ed1c2e;
  border: none;
}

.black-skin{
  background-color: #000;
  color: #fff;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.accent-color{
  color: #ed1b2e;
}

.grey-color{
  color: #636259;
}

/*======================> Header <======================*/

header {
  background-color: #fff;
  padding: 19px 0;
}
  .logo{
    max-width: 180px;
  }
    .logo a{
      display: inline-block;
    }

    .logo img{
      max-width: 100%;
      height: auto;
    }

nav{
  color: #9c9d9d;
  padding: 7px 15px 0 135px;
}

.menu{
  
}

  .menu__item{
    display: inline-block;
    margin-right: 30px;
  }

    nav a{
      color: #000;
      text-transform: uppercase;
    }
      nav a:hover,
      nav .current a{
        color: #ed1b2e;
      }


/*=====================> Content ========================*/
/* #content {min-height: 1500px;} */
.cont_pad{padding:0 0 0 0 !important;}


.content{
  padding: 20px 0 200px;
}

  .content__inner{
    padding-left: 90px;
    padding-right: 90px;
  }


  .content__inner--2{
    padding-left: 200px;
    padding-right: 200px;
  }

/* ---------------
  Home page
------------------- */

.home-content{
  min-height: 68%;
  width: 100%;
  background-color: #d1d3d4;
}

  .home-content__left{
    text-align: right;
    width: 43.7%;
    padding-right: 70px;
    vertical-align: middle;
  }

    .home-product__item{
      display: inline-block;
      text-align: center;
      margin: 0 5px;
    }

      .home-product__item figcaption{
        padding-top: 15px;
        font-weight: bold;
        font-size: 14px;
      }

  .home-content__right{
    background: url(../images/home-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 56.3%;
    padding: 5%;
  }


    .promocode-input{
      border: 2px solid #d1d3d4;
      background-color: #ffffff;
      width: 230px;
      height: 44px;
      border-radius: 40px !important;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      padding: 0 65px 0 24px;
    } 

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #000;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #000;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #000;
    }

    .promocode-btn{
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background: #ed1c2e url(../images/sbm-btn-icon.png) 50% 50% no-repeat;
      background-size: 50% auto;
      display: block;
      top: 50%;
      margin-top: -28px;
      right: 0;
      position: absolute;
    }

      .promocode-btn:hover{
        background-color: #eb4e5c;
      }


.home-steps{
  background-color: #fff;
  padding: 20px 0;
}

  .home-step__item{
    letter-spacing: -.5px;
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-right: 30px;
  }

    .home-step__item__img{
      float: left;
    }

    .home-step__item figcaption{
      overflow: hidden;
      text-align: left;
      padding: 10px 0 0;
    }

  
  .home-steps-wrap .home-step__item:first-child ~ .home-step__item{
    padding-left: 55px;
  }

    .home-steps-wrap .home-step__item:first-child ~ .home-step__item::before{
      background: url(../images/home-step-arrow.png) 0 0 no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      width: 27px;
      height: 30px;
      margin-top: -15px;
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
    }

/* ---------------
  Prizes page
------------------- */

.prizes{

}

  .prize__item{
    width: 50%;
    float: left;
    text-align: center;
  }

    .prize__item__img{
      line-height: 227px;
      vertical-align: middle;
    }

      .prize__item__img img{
        vertical-align: middle;
      }


.additional-section{
  background-color: #fff;
  padding: 20px 0;
}

input.promo-form__input{
  width: 195px;
  height: 38px;
  border-radius: 7px;
  border: 1px solid #7e7e7e;
  background-color: rgba(255, 165, 0, 0);
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  color: #000;
  font-size: 14px;
}

.promo-form__btn{
  width: 198px;
  margin-left: 20px;
}

/* ---------------
  Winners page
------------------- */

.winners{
  /* padding: 0 140px 0 90px; */
}

  .winners-list dt{
    color: #ed1b2d;
    font-size: 24px;
  }

  .winners-list dd{
    font-size: 14px;
    margin-bottom: 4px;
  }

/* ---------------
  Faq page
------------------- */

.faq-list dt{
  cursor: pointer;
  color: #ed1b2d;
  font-size: 34px;
  text-decoration: underline;
  margin-top: 10px;
}

.faq-list dd{
  padding-top: 14px;
  display: none;
}


/* ---------------
  Personal page
------------------- */
.user-prizes-list span{
  display: inline-block;
  margin: 0 20px;
}

  .user-prizes-list li{
    margin-bottom: 20px;
  }


/* ---------------
  Personal page
------------------- */

.products-wrap{
  margin-left: -15px;
  margin-right: -15px;
}
  .product-item{
    width: calc(33.3% - 30px);
    margin: 0 15px;
    float: left;
    padding: 0 10px 0 0;
  }

    .product-item__img{
      margin-right: 20px;
      padding-top: 20px;
    }

/* ---------------
  Search result page
------------------- */
.search-result__list{
  max-height: 345px;
  overflow: auto;


  &-wrap{
    width: 40%;
    float: left;
  }

  li{
    margin-bottom: 30px;
  }
}

.search-result__map-wrap{
  padding-left: 20px;
}

.map_search_form{
  width: 486px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  .form__input{
    border: none;

    input{
      background: #fff url(../images/select-arrow.png) calc(100% - 15px) 50% no-repeat;
      -webkit-background-size: 14px 12px;
      background-size: 14px 12px;
      border-radius: 3px;
      border: none;
    }
  }
}

.map_search_list{
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  max-height: 200px;
  overflow: auto;
  font-size: 14px;
  text-transform: uppercase;
  margin: 3px 0 0;
  padding: 10px 0;

  li{
    padding: 7px 15px;
    cursor: pointer;

    &:hover,
    &.active{
      background-color: #ed1c2e;
      color: #fff;
    }
  }
}


/* ---------------
  Catalog page
------------------- */

.catalog{
  margin-left: -20px;
  margin-right: -20px;
}

.catalog__item{
  width: calc(33.3% - 40px);
  margin: 0 20px;
  float: left;
  text-align: center;

    &__title{
      font-size: 32px;
      line-height: 1.23;
      letter-spacing: -1px;
      margin-bottom: 15px;
    }

    &__imgs{
      position: relative;
      min-height: 180px;
      margin: 0 40px;
    }

    &__features{
      margin-bottom: 17px;
    }

    &__content{
      padding: 0 40px;
    }
}

.owl-buttons{
  div{
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 21px;
    height: 35px;
    cursor: pointer;
  }

  .owl-prev{
    background: url(../images/navigation-prev.png) 50% 0 no-repeat;
    background-size: cover;
    left: 0px;
  }
  .owl-next{
    background: url(../images/navigation-next.png) 50% 0 no-repeat;
    background-size: cover;
    right: 0px;
  }
}

.catalog-list{

  &__item{
    margin-bottom: 20px;

    &-title{
      margin-bottom: 2px;
      position: relative;

      &::before{
        background: url(../images/title-arrow.png) 0 0 no-repeat;
        background-size: cover;
        width: 11px;
        height: 18px;
        position: absolute;
        display: block;
        top: 12px;
        left: -25px;
        content: "";
      }
    }

  }

  &__content{
    position: relative;
    padding: 15px 0 0 50px;
  }
}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb72{ margin-bottom: 72px;}
.mb75{ margin-bottom: 75px;}
.mb80{ margin-bottom: 80px;}

/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 48px;
  line-height: 1.15;
  font-weight: normal;
}

.title2{
  font-size: 34px;
  line-height: 1.23;
}

.title3{
  font-size: 24px;
  line-height: 1.23;
}

.title4{
  font-size: 18px;
  line-height: 1.23;
}

.title5{
  font-size: 16px;
  line-height: 1.23;
}


/*================================>> FONTS  <<========================================*/
.bold{
  font-weight: bold;
}

.regular{
  font-weight: normal;
}

.font-16{
  font-size: 16px;
}


/*================================>> hovers <<========================================*/
a,
button{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
button:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Form Elements <<========================================*/

select{
  /* Style for "Shape 1" */
  width: 230px;
  height: 38px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #7e7e7e;
  background: #fff url(../images/select-arrow.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 14px 12px;
  background-size: 14px 12px;
  padding: 0 15px;
  -webkit-appearance: none; 
 -moz-appearance: none;
 appearance: none;
 outline: none;
}
select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.form__select select{
  text-transform: uppercase;
  border-color: #7f7f7f;
  width: 100%;
}

.form__row{
  margin-bottom: 20px;
}

// .form__input input,
// .form__textarea textarea{
//   margin:0;
//   color: #000000;
//   font-size: 14px;
//   text-transform: uppercase;
//   padding: 0 15px;
//   line-height: 38px;
//   height: 38px;
//   outline:none;
//   position:relative;
//   background:#fff;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   border-radius: 5px;
//   border:1px solid #7f7f7f;
//   background-color: #ffffff;
//   width: 100%;
// }

.form__input input,
.form__textarea textarea{
  text-transform: uppercase;
}

// .form__textarea textarea{
//   min-height: 165px;
//   resize: vertical;
// }

.form__cols-wrap{
  margin-left: -8px;
  margin-right: -8px;
}

.form__col{
  width: calc(50% - 16px);
  margin: 0 8px;
  float: left;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
  cursor:pointer;
  margin-top:0;
  text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer{
  padding:22px 0 26px;
  background-color: #000;
  color: #9c9d9d;
}

footer a:hover{
  color: #fff;
}

  .footer-inner{
    width: 100%;
    vertical-align: middle;
  }

    .footer-nav__list li{
      display: inline-block;
      margin: 0 15px;
      vertical-align: middle;
    }

      .footer-nav__list a{
        color: #9c9d9d;
        text-transform: uppercase;
      }

      .footer-nav__list a:hover,
      .footer-nav__list .current a{
        color: #ed1b2d;
      }


  .footer-copyright,
  .footer-social{
    width: 30%;
  }
  
  .footer-nav{
    width: 40%;
  }

  .social-btn{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
  }
    .social-btn img,
    .content-img{
      max-width: 100%;
      height: auto;
    }
/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  // width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

