//fog variables
$fogBackground: #000;
$fogOpacity: .6;

//modal variables
$modalWidth: 900px;
$modalBackground: #fff;
$modalBorder: none;
$modalBorderRadius: 0;
$modalBoxShadow: none;
$modalPadding: 20px;

$modalTextAlign: center;
$modalFontSize: 12px;
$modalLineHeight: 1.23;

//modal close button
$modalCloseWidth: 27px;
$modalCloseHeight: 27px;
$modalCloseTop: 16px;
$modalCloseRight: 26px;
$modalCloseBackground: url(../images/modal-close.png) 50% 50% no-repeat;	


//modal title
$modalTitleFontSize: 34px;
$modalTitleLineHeight: 1.23;
$modalTitleFontWeight: bold;
$modalTitleTextAlign: center;
$modalTitleFontColor: #000;

//modal header
$modalHeaderPadding: 4px;
$modalHeaderBorderBottom: none;

//modal content
$modalContentPadding: 0;

//modal footer
$modalFooterPadding: 0;
$modalFooterBorderTop: none;
$modalFooterMargin: 0;

.body-modal {
	overflow: hidden;
}

.modal {
	&s {
		&__fog {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $fogBackground;
			opacity: $fogOpacity;
			z-index: 1000;
		}
	}
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	display: none;
	font-size: $modalFontSize;
	line-height: $modalLineHeight;

	&--auth{
		.modal__body{
			width: 528px;
		}
	}

	&--modal--registration-thx,
	&--modal--registration-congratulation{
		.modal__body{
			width: 624px;
		}	
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 1px;
		vertical-align: middle;
	}

	&__body {
		position: relative;
		z-index: 1;
		padding: $modalPadding;
		width: $modalWidth;
		box-sizing: border-box;
		display: inline-block;
		background: $modalBackground;
		text-align: $modalTextAlign;
		border: $modalBorder;
		vertical-align: middle;
		border-radius: $modalBorderRadius;
		box-shadow: $modalBoxShadow;
	}

	&__header {
		padding: $modalHeaderPadding;
		border-bottom: $modalHeaderBorderBottom;
	}

	&__content {
		padding: $modalContentPadding;

		&__cols-wrap{
			margin-left: -45px;
			margin-right: -45px;
		}

		&__col{
			width: calc(50% - 90px);
			float: left;
			margin-left: 45px;
			margin-right: 45px;
		}
	}

	&__footer {
		padding: $modalFooterPadding;
		border-top: $modalFooterBorderTop;
		margin: $modalFooterMargin;
	}

	&__close {
		position: absolute;
		z-index: 1;
		right: $modalCloseRight;
		top: $modalCloseTop;
		background: $modalCloseBackground;
		background-size: 100% auto;
		width: $modalCloseWidth;
		height: $modalCloseHeight;
	}

	&__title {
		font-family: inherit;
		font-size: $modalTitleFontSize;
		line-height: $modalTitleLineHeight;
		text-align: $modalTitleTextAlign;
		font-weight: $modalTitleFontWeight;
		color: $modalTitleFontColor;
		letter-spacing: -1px;
	}

	& .form__label{
		display: none;
	}

	&--registration{

		.form{
			padding: 0 150px;
		}
	}

	&--registration-thx,
	&--registration-congratulation{
		.modal__text{
			padding: 0 100px 20px;
			line-height: 24px;
		}

		.modal__subtitle{
			margin-bottom: 30px;
		}
	}

	&--auth{
		.form{
			padding: 0 130px;
		}
	}

	.form{

		// ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	 //      color: #9c9d9d;
	 //    }
	 //    ::-moz-placeholder { /* Firefox 19+ */
	 //      color: #9c9d9d;
	 //    }
	 //    :-ms-input-placeholder { /* IE 10+ */
	 //      color: #9c9d9d;
	 //    }
	 //    :-moz-placeholder { /* Firefox 18- */
	 //      color: #9c9d9d;
	 //    }

	    select{
	    	option:disabled{
	    		color: #9c9d9d;
	    	}
	    }
	}

	&__comment{
		font-size: 14px;
	}

	&__subtitle{
		margin-bottom: 2px;
	}
}

