/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1100px) {
 
 .home-content__left{
 	padding-right: 0px;
 	text-align: center;
 }

 .modal__body{
 	max-width: calc(100% - 40px);
 }

 .modal--registration .form{
 	padding: 0 50px;
 }

}

@media only screen and (max-width: 995px) {
	.home-content,
	.home-content > *,
	.home-content__left > *{
		display: block;
		width: auto;
	}

	.home-content__right{
		min-height: 500px;
	}

	.home-content > *{
		padding: 50px;
	}
	
	.home-products{
		overflow: hidden;
	}
		.home-product__item{
			display: block;
			text-align: center;
			float: left;
			width: calc(33.3% - 10px);
		}

	.home-step__item{
		font-size: 14px;
	}

	.footer-nav__list li{
		margin: 0 5px;
	}

	.container{
		padding: 0 20px;
	}

	.home-steps-wrap .home-step__item:first-child ~ .home-step__item{
		padding-left: 45px;
	}

	.home-step__item{
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.content__inner--2,
	.content__inner{
		padding-left: 0;
		padding-right: 0;
	}

	.content{
		padding-bottom: 40px;
	}

	.page_wrap{
		min-height: 0;
		margin-bottom: 0;
	}

	.faq-list dt{
		font-size: 24px;
	}

	
	.products-wrap{
		margin-left: 0;
		margin-right: 0;
	}
		.product-item{
			width: auto;
			margin: 0 0 20px;
		}

			.product-item__img{
				padding-top: 0;
			}

	.catalog__item__imgs{
		margin: 0 20px;
	}


	nav{
		padding-left: 20px;
	}

	.header-auth-btns{
		float: left;
	}
}

@media only screen and (max-width: 767px){

	body{
		padding-top: 64px;
	}

	.title1{
		font-size: 38px;
	}

	.title2{
		font-size: 24px;
	}

	.home-content__right{
		min-height: 400px;
	}

	.home-content > *{
		padding: 20px;
	}

	.resp-toggle-btn{
		display: block;
		border: none;
		cursor: pointer;
		outline:none;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 14px;
		right: 20px;
		background-color: #ed1c2e;
		border-radius: 5px;
	}

	.resp-toggle-btn span {
	    display: block;
	    position: absolute;
	    height: 2px;
	    left: 8px;
	    right: 8px;
	    background-color: #fff;
	    -webkit-transition: all 0.25s ease;
	    -moz-transition: all 0.25s ease;
	    -o-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	  }

	  .resp-toggle-btn span.line1 {
	    top: 11px;
	  }

	  .resp-toggle-btn span.line2 {
	    top: 19px;
	  }

	  .menu > .hasUl > a::after {
	    right: 22px;
	  }

	  .resp-toggle-btn span.line3 {
	    top: 27px;
	  }

	  .navTrue .resp-toggle-btn span {
	    left: 6px;
	    right: 6px;
	  }

	  .navTrue .resp-toggle-btn span.line1 {
	    -moz-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    top: 19px;
	  }

	  .navTrue .resp-toggle-btn span.line2 {
	    opacity: 0;
	  }

	  .navTrue .resp-toggle-btn span.line3 {
	    -moz-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    top: 19px;
	  }

	  nav {
	    position: fixed;
	    left: 100%;
	    top: 64px;
	    width: 280px;
	    height: 100%;
	    z-index: 999;
	    padding: 0;
	    overflow: auto;
	    background-color: #231f20;
	    -webkit-transition: all 350ms ease;
	    -moz-transition: all 350ms ease;
	    -ms-transition: all 350ms ease;
	    -o-transition: all 350ms ease;
	    transition: all 350ms ease;
	  }

	  /* line 401, ../sass/_header.scss */
	  .navTrue nav {
	    left: calc(100% - 280px);
	  }

	  /* line 405, ../sass/_header.scss */
	  nav li ,
	  nav li.menu__item {
	    float: none;
	    display: block;
	    padding: 0;
	    margin: 0;
	    text-align: left;
	    border-top: 1px solid rgba(255, 255, 255, 0.3);
	  }

	  /* line 412, ../sass/_header.scss */
	  nav .menu a {
	    display: block;
	    padding: 10px 20px;
	    color: #fff;
	    font-size: 16px;
	  }

	  /* line 417, ../sass/_header.scss */
	  .nav_overlay {
	    position: fixed;
	    opacity: 0;
	    visibility: hidden;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 888;
	    color: #fff;
	    background-color: #000;
	    -webkit-transition: all 350ms ease;
	    -moz-transition: all 350ms ease;
	    -ms-transition: all 350ms ease;
	    -o-transition: all 350ms ease;
	    transition: all 350ms ease;
	  }

	  /* line 434, ../sass/_header.scss */
	  .navTrue .nav_overlay {
	    opacity: .7;
	    visibility: visible;
	  }

	header{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99;
	}


	.social-btn{
		margin-left: 5px;
	}

	.modal__content__col{
		float: none;
		width: auto;
		margin: 0;
	}

	.modal__content__cols-wrap{
		margin: 0;
	}

	.modal--registration .form,
	.modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text,
	.modal--auth .form{
	 	padding: 0 30px;
	 }


	.catalog__item,
	.search-result__list-wrap{
		float: none;
		width: auto;
		margin-bottom: 40px;
	}

	.search-result__map-wrap{
		padding-left: 0;
	}


	.menu,
	.header-auth-btns{
		float: none;
	}

	.header-auth-btns{
		text-align: center;
		padding-top: 20px;
		color: #fff;
		border-top: 1px solid rgba(255, 255, 255, 0.3);

		a{	
			display: inline-block;
			margin: 0 10px;
			text-decoration: underline;
			color: #fff;
		}
	}

	.map_search_form{
		padding-top: 20px;
		width: auto;
		position: static;
		-moz-transform: translateX(0px) translateY(0px);
		-webkit-transform: translateX(0px) translateY(0px);
		-o-transform: translateX(0px) translateY(0px);
		-ms-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
	}
}

@media only screen and (max-width: 600px) {
	.footer-inner,
	.footer-inner > *{
		display: block;
		width: auto;
		text-align: center;
	}

	.footer-inner > *{
		margin-top: 10px;
	}

	.winner__col{
		float: none;
		margin-bottom: 30px;

		.title2{
			margin-bottom: 15px;
		}
	}

	.prize__item{
		float: none;
		width: auto;
		margin-bottom: 30px;
	}

		.prize__item__img{
			line-height: 1;
		}

	
	.catalog-list__item-img{
		float: none;
		width: 100%;

		img{
			width: 100%;
			height: auto;
		}
	}

	.catalog-list__content{
		padding-left: 27px;
	}

	.catalog-list__item{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 479px) {
	.home-steps-wrap .home-step__item{
		float: none;
		width: auto;
		display: block;
		padding-left: 0 !important;
	}

	.home-steps-wrap .home-step__item::before{
		display: none;
	}

	.home-step__item__img{
		min-width: 80px;
		text-align: center;
	}


	.home-product__item{
		width: auto;
		float: none;
		margin-bottom: 30px;
	}

	.home-products .home-product__item:last-child{
		margin-bottom: 0;
	}

	.title1,
	.modal__title{
		font-size: 30px;
	}

	.title3,
	.catalog__item__title{
		font-size: 20px;
	}


	.faq-list dt{
		font-size: 18px;
	}

	.promo-form{
		margin-bottom: -15px;
	}
	.promo-form > *{
		margin: 0 10px 15px;
	}

	.form__cols-wrap{
		margin-left: 0;
		margin-right: 0;
	}

	.form__col{
		float: none;
		width: auto;
		margin: 0;
	}

	.home-content__right{
		background-position: 100% 0;
	}

	.modal--registration .form, .modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text{
		padding: 0 10px;
	}

	.social__item{
		margin: 0 10px;
	}

	.modal__close{
		right: 10px;
		top: 10px;
	}

	.form__radio{
		width: 100%;
		text-align: left;
		padding-bottom: 10px;
	}

	.form__elem--str > .radio__label{
		margin-bottom: 20px;
	}

	.form__elem{
		overflow: hidden;
	}

	.form__checkbox{
		float: left;
	}

	.checkbox__label{
		overflow: hidden;
		display: block;
		text-align: left;
		padding-left: 10px;
	}

	nav{
		width: 100%;
		left: 100%;
	}

	.navTrue nav{
		left: 0;
	}

	.map_search_form .form__input input{
		font-size: 12px;
	}
	
}