.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 15px 0 20px;

  &__item {
    display: inline-block;
    margin: 0 19px;
    font-size: 14px;
    line-height: 30px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    text-decoration: none;
    opacity: .9;

    &:hover {
      opacity: 1;
    }

    &--vk{
      background: url(../images/vk-social-icon.png) 50% 50% no-repeat;
      background-size: cover;
    }
    &--ok{
      background: url(../images/ok-social-icon.png) 50% 50% no-repeat;
      background-size: cover;
    }
    &--fb{
      background: url(../images/fb-social-icon.png) 50% 50% no-repeat;
      background-size: cover;
    }
  }
}